.hed {
    background-color: antiquewhite;
    height: 80px;
}

.pad {
    padding: 40px;
}

.cen {
    margin-left: 180px;
}

.his {
    height: 390px;
    background-color: aquamarine;
    padding: 50px;
}

.bt {
    margin-top: 120px;
}

.scroll {
    overflow: auto;
}

.foot {
    background-color: #111;
    color: white;
    height: 50px;
    padding: 10px;
    margin-top: 35px;
}